model_list:
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: openai/gpt-3.5-turbo
      timeout: 30
      max_retries: 3
      api_key: "os.environ/OPENAI_API_KEY_GPT_3.5_TURBO"

  - model_name: mistral-7b-instruct
    litellm_params:
      model: ollama/mistral
      timeout: 120
      max_retries: 3
      api_base: "http://localhost:11434"

  - model_name: mixtral-8x7b
    litellm_params:
      model: huggingface/mistralai/Mixtral-8x7B-Instruct-v0.1
      timeout: 120
      max_retries: 3
      api_base: "https://api-inference.huggingface.co/models/mistralai/Mixtral-8x7B-Instruct-v0.1"
      api_key: "os.environ/HUGGINGFACE_API_KEY_MIXTRAL_8X7B"
      custom_llm_provider: "huggingface"

  - model_name: gpt-4o
    litellm_params:
      model: openai/gpt-4o
      timeout: 45
      max_retries: 3
      api_key: "os.environ/OPENAI_API_KEY_GPT_4O"

  - model_name: gpt-4o-mini
    litellm_params:
      model: openai/gpt-4o-mini
      timeout: 30
      max_retries: 3
      api_key: "os.environ/OPENAI_API_KEY_GPT_4O_MINI"

  - model_name: claude-3-5-sonnet-20240620
    litellm_params:
      model: anthropic/claude-3-5-sonnet-20240620
      timeout: 30
      max_retries: 3
      api_key: "os.environ/ANTHROPIC_API_KEY_CLAUDE_3_5_SONNET_20240620"

  - model_name: gemini-pro
    litellm_params:
      model: google/gemini-pro
      timeout: 30
      max_retries: 3
      api_key: "os.environ/GEMINI_API_KEY_GEMINI_PRO"

fallbacks: [
  {
    "gpt-3.5-turbo": [
      {"model": "gpt-4o"},
      {"model": "claude-3-5-sonnet-20240620"}
    ]
  },
  {
    "mistral-7b-instruct": [
      {"model": "gpt-3.5-turbo"},
      {"model": "claude-3-5-sonnet-20240620"}
    ]
  },
  {
    "phi-2": [
      {"model": "gpt-3.5-turbo"},
      {"model": "claude-3-5-sonnet-20240620"}
    ]
  },
  {
    "gpt-4o": [
      {"model": "claude-3-5-sonnet-20240620"},
      {"model": "gpt-3.5-turbo"}
    ]
  },
  {
    "claude-3-5-sonnet-20240620": [
      {"model": "gpt-4o"},
      {"model": "gpt-3.5-turbo"}
    ]
  }
]

routing_strategy: least-busy
timeout: 120
max_retries: 3 